extends base

block content
    h2.video_title #{video.title}
    div#videoContainer(data-id=video._id)

        //- video로 변수가 선언이 되어있다 : videoControllers.js 에서 const video = await movieModel.findById(id);
        video(src=video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span.videoControls__time_bar /  
                    span#totalTime 00:00
            input(type="range", value="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1" min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand

    
    div.video__desc--info
        p.descriptionfileUrl=video.descriptionfileUrl
        small.createdAt=video.createdAt
        p.description=video.description
        p.hashtags=video.hashtags
        small.owner__upload
            a(href=`/users/${video.owner._id}`) 
                div.upload__user
                    div.upload__user--img
                        img(src=video.owner.avatarUrl)
                    span #{video.owner.name}
                    
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) 
            i.fa-solid.fa-pen-to-square  편집하기
        br
        br
        a(href=`${video.id}/delete`)
            i.fa-solid.fa-trash  삭제하기

    if loggedIn
        div.comment__write
            small.owner__upload
                    a(href=`/users/${video.owner._id}`) 
                        div.upload__user--img
                            img(src=loggedInUser.avatarUrl)
            div.video__comments
                form.video__comment-form#commentForm
                    input(cols="30", rows="10", placeholder="댓글을 달아주세요")
                    button 작성

    div.video__comment-box
        ul
            each comment in video.comments.reverse()
                li.comment(data-id=comment._id)
                    small.comment__owner--icon
                        i.fas.fa-comment
                    span #{comment.text}
                    if String(comment.owner._id) === String(loggedInUser._id)
                        span#deleteBtn.deleteBtn
                            i.fa-solid.fa-trash-can
block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")