extends base

block content
    h2.video_title #{video.title}
    div#videoContainer(data-id=video._id)

        //- video로 변수가 선언이 되어있다 : videoControllers.js 에서 const video = await movieModel.findById(id);
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span.videoControls__time_bar /  
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1" min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand

    div
        p.descriptionfileUrl=video.descriptionfileUrl
        small.createdAt=video.createdAt
    div 
        p.description=video.description
        p.hashtags=video.hashtags
        small.owner__upload
            a(href=`/users/${video.owner._id}`) 
                span #{video.owner.name}
                span 님이 업로드 하셨습니다
    hr
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) 
            i.fa-solid.fa-pen-to-square  편집하기
        br
        br
        a(href=`${video.id}/delete`)
            i.fa-solid.fa-trash  삭제하기

    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="댓글을 달아주세요")
                button 작성완료
block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")

    //- relative , absoulte url : 앞에 /를 지우면 root  url이 나타난다 , /를 추가하면 어디에 있든 그곳으로 이동
    //- 위 경우 이미 videos 경로에 있기 때문에 앞의 /를 지우고 뒤에것부터 적어도 된다
    //- 릴레이티드가 /가 없는거
